@model MidTask1.Models.Admin
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="/Home/Login" method="post">
    <div class="mb-3">
        <label for="exampleInputUsername" class="form-label">Username</label>
        <input name="Username" type="text" autocomplete="off" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp">
        <div class="form-text">
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="Password" type="password" class="form-control" id="exampleInputPassword1">
        <div class="form-text">
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br/>
@if (TempData["ErrMsg"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrMsg"]
    </div>
}
